<nav class="red darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">TEST</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isIndex}}
            <li class= "active"><a href="/">HOME</a></li>
            {{else}}
            <li><a href="/">HOME</a></li>
            {{/if}}
            {{#if isCreate}}
            <li class= "active"><a href="/create">CREATE</a></li>
            {{else}}
            <li><a href="/create">CREATE</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
        